<div class="add_banch" ng-controller="addBranchCtrl">
	<div id="page-heading">
		<h1>Branch</h1>
	</div>
	<div class="container-fluid">
		<panel panel-class="panel-primary" data-heading="Add Branch">
			<panel-controls>
				<panel-control-collapse></panel-control-collapse>
			</panel-controls>
		<form action="" class="form-horizontal row-border" name="addCompanyForm">
			<div class="form-group">
				<label class="col-sm-3 control-label">Select Company</label>
				<div class="col-sm-6">
					  <ui-select ng-model="selectedCompany.selected" title="Choose a Company">
					    <ui-select-match placeholder="Select or search a company in the list...">{{$select.selected.companyName}}</ui-select-match>
					    <ui-select-choices repeat="companyIterator in companies| filter: $select.search">
					      <span ng-bind-html="companyIterator.companyName | highlight: $select.search"></span>
					    </ui-select-choices>
					  </ui-select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Branch Name</label>
				<div class="col-sm-6">
					<input name="branchName" type="text" placeholder="Required Field" required ng-model="addBranch.branchName" class="form-control">
					<span class="help-block"
						ng-show="addBranchCtrl.companyName.$error.required && addBranchCtrl.companyName.$dirty">This
						field is required</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Branch Address</label>
				<div class="col-sm-6">
					<input name="branchAddress" type="text" placeholder="Required Field" required ng-model="addBranch.branchAddress" class="form-control">
					<span class="help-block"
						ng-show="addBranchCtrl.companyName.$error.required && addBranchCtrl.companyName.$dirty">This
						field is required</span>
				</div>
			</div>
		</form>
		<div class="panel-footer">
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<div class="btn-toolbar">
						<button class="btn-primary btn" ng-disabled="addBranchCtrl.$invalid && addBranchCtrl.$pristine" ng-click="submitAddBranch()">Submit</button>
						<button class="btn-default btn" ng-click="resetAddBranch();">Reset</button>
					</div>
				</div>
			</div>
		</div>
	</panel>
	<div class="container-fluid branch-list">
	    <div class="row">
	      <div class="col-md-12">
	            <panel panel-class="panel-primary" data-heading="Branch List">
	                <panel-controls>
	                    <panel-control-collapse></panel-control-collapse>
	                </panel-controls>		
	                <div class="input-icon right mb10">
	                    <i class="fa fa-search"></i>
	                    <input type="text" ng-model="filterOptions.filterText" class="form-control" placeholder="Search Filter">
	                </div>
	                <div class ="data-table" style="height: 200px;" ng-grid="gridOptions"></div>
	            </panel>
	        </div>
	    </div>
	</div> 		
</div>