<div class="rlms-wrapper">
<div class="rlms-container add_user" ng-controller="addUserCtrl as ctrl">
	<h1 class="rlms-heading">Add Lift</h1>
	<div class="container-fluid" >
		<alert ng-show="showAlert" type="{{alert.type}}">
			<span ng-bind-html="alert.msg | safe_html"></alert>
		<form  name="addLiftForm" data-wizard="{finishButton: true, titleClick: true, block: true, validate: true}" class="form-horizontal">
	<fieldset title="Step 1">
		<legend>Lift Information</legend>
		<div class="form-group">
			<label for="liftNumber" class="col-md-3 control-label">Lift Number</label>
			<div class="col-md-6">
				<input ng-model="addLift.liftNumber" class="form-control" name="liftNumber" type="text" required/>
			</div>
		</div>
		<div class="form-group">
			<label for="address" class="col-md-3 control-label">Address</label>
			<div class="col-md-6"><input ng-model="addLift.address" class="form-control" type="text" name="address" required></div>
		</div>
		<div class="form-group">
			<label for="latitude" class="col-md-3 control-label">Latitude</label>
			<div class="col-md-6"><input ng-model="addLift.latitude" class="form-control"  type="text" name="latitude"></div>
		</div>
		<div class="form-group">
			<label for="longitude" class="col-md-3 control-label">Longitude</label>
			<div class="col-md-6"><input ng-model="addLift.longitude" class="form-control"  type="text" name="longitude"></div>
		</div>
		<div class="form-group">
			<label for="serviceStartDate" class="col-md-3 control-label">Service Start Date</label>
			<div class="col-md-6"><input ng-model="addLift.serviceStartDate" class="form-control"  type="text" name="serviceStartDate"></div>
		</div>
		<div class="form-group">
			<label for="serviceEndDate" class="col-md-3 control-label">Service End Date</label>
			<div class="col-md-6"><input ng-model="addLift.serviceEndDate" class="form-control"  type="text" name="serviceEndDate"></div>
		</div>
		<div class="form-group">
			<label for="dateOfInstallation" class="col-md-3 control-label">Date Of Installation</label>
			<div class="col-md-6"><input ng-model="addLift.dateOfInstallation" class="form-control"  type="text" name="dateOfInstallation"></div>
		</div>
		<div class="form-group">
			<label for="amcStartDate" class="col-md-3 control-label">Amc Start Date</label>
			<div class="col-md-6"><input ng-model="addLift.amcStartDate" class="form-control"  type="text" name="amcStartDate"></div>
		</div>
		<div class="form-group">
			<label for="amcType" class="col-md-3 control-label">Amc Type</label>
			<div class="col-md-6"><input ng-model="addLift.amcType" class="form-control"  type="text" name="amcType"></div>
		</div>
		<div class="form-group">
			<label for="amcAmount" class="col-md-3 control-label">Amc Amount</label>
			<div class="col-md-6"><input ng-model="addLift.amcAmount" class="form-control"  type="text" name="amcAmount"></div>
		</div>
	</fieldset>
	<fieldset title="Step 2">
		<legend>Technical Details</legend>
		<div class="form-group">
			<label for="doorType" class="col-md-3 control-label">Door Type</label>
			<div class="col-md-6"><input ng-model="addLift.doorType" class="form-control"  type="text" name="doorType"></div>
		</div>
		<div class="form-group">
			<label for="noOfStops" class="col-md-3 control-label">No Of Stops</label>
			<div class="col-md-6"><input ng-model="addLift.noOfStops" class="form-control"  type="text" name="noOfStops"></div>
		</div>
		<div class="form-group">
			<label for="engineType" class="col-md-3 control-label">Engine Type</label>
			<div class="col-md-6"><input ng-model="addLift.engineType" class="form-control"  type="text" name="engineType"></div>
		</div>
		<div class="form-group">
			<label for="machineMake" class="col-md-3 control-label">Machine Make</label>
			<div class="col-md-6"><input ng-model="addLift.machineMake" class="form-control"  type="text" name="machineMake"></div>
		</div>
		<div class="form-group">
			<label for="machineCurrent" class="col-md-3 control-label">Machine Current</label>
			<div class="col-md-6"><input ng-model="addLift.machineCurrent" class="form-control"  type="text" name="machineCurrent"></div>
		</div>
		<div class="form-group">
			<label for="machineCapacity" class="col-md-3 control-label">Machine Capacity</label>
			<div class="col-md-6"><input ng-model="addLift.machineCapacity" class="form-control"  type="text" name="machineCapacity"></div>
		</div>
		<div class="form-group">
			<label for="breakVoltage" class="col-md-3 control-label">Break Voltage</label>
			<div class="col-md-6"><input ng-model="addLift.breakVoltage" class="form-control"  type="text" name="breakVoltage"></div>
		</div>
		<div class="form-group">
			<label for="panelMake" class="col-md-3 control-label">Panel Make</label>
			<div class="col-md-6"><input ng-model="addLift.panelMake" class="form-control"  type="text" name="panelMake"></div>
		</div>
		<div class="form-group">
			<label for="ARD" class="col-md-3 control-label">ARD</label>
			<div class="col-md-6"><input ng-model="addLift.ARD" class="form-control"  type="text" name="ARD"></div>
		</div>
		<div class="form-group">
			<label for="NoOfBatteries" class="col-md-3 control-label">No Of Batteries</label>
			<div class="col-md-6"><input ng-model="addLift.NoOfBatteries" class="form-control"  type="text" name="NoOfBatteries"></div>
		</div>
		<div class="form-group">
			<label for="BatteryCapacity" class="col-md-3 control-label">Battery Capacity</label>
			<div class="col-md-6"><input ng-model="addLift.BatteryCapacity" class="form-control"  type="text" name="BatteryCapacity"></div>
		</div>
		<div class="form-group">
			<label for="BatteryMake" class="col-md-3 control-label">Battery Make</label>
			<div class="col-md-6"><input ng-model="addLift.BatteryCapacity" class="form-control"  type="text" name="BatteryMake"></div>
		</div>
		<div class="form-group">
			<label for="COPMake" class="col-md-3 control-label">COPMake</label>
			<div class="col-md-6"><input ng-model="addLift.COPMake" class="form-control"  type="text" name="COPMake"></div>
		</div>
		<div class="form-group">
			<label for="LOPMake" class="col-md-3 control-label">LOPMake</label>
			<div class="col-md-6"><input ng-model="addLift.LOPMake" class="form-control"  type="text" name="LOPMake"></div>
		</div>
		<div class="form-group">
			<label for="collectiveType" class="col-md-3 control-label">Collective Type</label>
			<div class="col-md-6"><input ng-model="addLift.collectiveType" class="form-control"  type="text" name="collectiveType"></div>
		</div>
		<div class="form-group">
			<label for="SimplexDuplex" class="col-md-3 control-label">Simplex Duplex</label>
			<div class="col-md-6"><input ng-model="addLift.SimplexDuplex" class="form-control"  type="text" name="SimplexDuplex"></div>
		</div>
		<div class="form-group">
			<label for="autoDoorMake" class="col-md-3 control-label">Auto Door Make</label>
			<div class="col-md-6"><input ng-model="addLift.autoDoorMake" class="form-control"  type="text" name="autoDoorMake"></div>
		</div>
		<div class="form-group">
			<label for="wiringShceme" class="col-md-3 control-label">Wiring Shceme</label>
			<div class="col-md-6"><input ng-model="addLift.wiringShceme" class="form-control"  type="text" name="wiringShceme"></div>
		</div>
		<div class="form-group">
			<label for="fireMode" class="col-md-3 control-label">Fire Mode</label>
			<div class="col-md-6"><input ng-model="addLift.fireMode" class="form-control"  type="text" name="fireMode"></div>
		</div>
		<div class="form-group">
			<label for="intercomm" class="col-md-3 control-label">intercomm</label>
			<div class="col-md-6"><input ng-model="addLift.intercomm" class="form-control"  type="text" name="intercomm"></div>
		</div>
		<div class="form-group">
			<label for="alarm" class="col-md-3 control-label">alarm</label>
			<div class="col-md-6"><input ng-model="addLift.alarm" class="form-control"  type="text" name="alarm"></div>
		</div>
		<div class="form-group">
			<label for="alarmBattery" class="col-md-3 control-label">Alarm Battery</label>
			<div class="col-md-6"><input ng-model="addLift.alarmBattery" class="form-control"  type="text" name="alarmBattery"></div>
		</div>
		<div class="form-group">
			<label for="accessControl" class="col-md-3 control-label">Access Control</label>
			<div class="col-md-6"><input ng-model="addLift.accessControl" class="form-control"  type="text" name="accessControl"></div>
		</div>
	</fieldset>
	<fieldset title="Step 3">
		<legend>Photos</legend>
		<div class="form-group">
				<label class="col-sm-3 control-label">Machine Photo</label>
				<div class="col-sm-6">
					<div class="fileinput fileinput-new" data-provides="fileinput">
						<div class="input-group">
							<div class="form-control uneditable-input" data-trigger="fileinput">
								<i class="fa fa-file fileinput-exists"></i>&nbsp;<span class="fileinput-filename"></span>
							</div>
							<span class="input-group-addon btn btn-default btn-file">
								<span class="fileinput-new">Select file</span>
								<span class="fileinput-exists">Change</span>
								<input type="file" name="...">
							</span>
							<a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Panel Photo</label>
				<div class="col-sm-6">
					<div class="fileinput fileinput-new" data-provides="fileinput">
						<div class="input-group">
							<div class="form-control uneditable-input" data-trigger="fileinput">
								<i class="fa fa-file fileinput-exists"></i>&nbsp;<span class="fileinput-filename"></span>
							</div>
							<span class="input-group-addon btn btn-default btn-file">
								<span class="fileinput-new">Select file</span>
								<span class="fileinput-exists">Change</span>
								<input type="file" name="...">
							</span>
							<a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">ARDPhoto</label>
				<div class="col-sm-6">
					<div class="fileinput fileinput-new" data-provides="fileinput">
						<div class="input-group">
							<div class="form-control uneditable-input" data-trigger="fileinput">
								<i class="fa fa-file fileinput-exists"></i>&nbsp;<span class="fileinput-filename"></span>
							</div>
							<span class="input-group-addon btn btn-default btn-file">
								<span class="fileinput-new">Select file</span>
								<span class="fileinput-exists">Change</span>
								<input type="file" name="...">
							</span>
							<a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">LOPPhoto</label>
				<div class="col-sm-6">
					<div class="fileinput fileinput-new" data-provides="fileinput">
						<div class="input-group">
							<div class="form-control uneditable-input" data-trigger="fileinput">
								<i class="fa fa-file fileinput-exists"></i>&nbsp;<span class="fileinput-filename"></span>
							</div>
							<span class="input-group-addon btn btn-default btn-file">
								<span class="fileinput-new">Select file</span>
								<span class="fileinput-exists">Change</span>
								<input type="file" name="...">
							</span>
							<a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">COPPhoto</label>
				<div class="col-sm-6">
					<div class="fileinput fileinput-new" data-provides="fileinput">
						<div class="input-group">
							<div class="form-control uneditable-input" data-trigger="fileinput">
								<i class="fa fa-file fileinput-exists"></i>&nbsp;<span class="fileinput-filename"></span>
							</div>
							<span class="input-group-addon btn btn-default btn-file">
								<span class="fileinput-new">Select file</span>
								<span class="fileinput-exists">Change</span>
								<input type="file" name="...">
							</span>
							<a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Cartop Photo</label>
				<div class="col-sm-6">
					<div class="fileinput fileinput-new" data-provides="fileinput">
						<div class="input-group">
							<div class="form-control uneditable-input" data-trigger="fileinput">
								<i class="fa fa-file fileinput-exists"></i>&nbsp;<span class="fileinput-filename"></span>
							</div>
							<span class="input-group-addon btn btn-default btn-file">
								<span class="fileinput-new">Select file</span>
								<span class="fileinput-exists">Change</span>
								<input type="file" name="...">
							</span>
							<a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Auto Door Header Photo</label>
				<div class="col-sm-6">
					<div class="fileinput fileinput-new" data-provides="fileinput">
						<div class="input-group">
							<div class="form-control uneditable-input" data-trigger="fileinput">
								<i class="fa fa-file fileinput-exists"></i>&nbsp;<span class="fileinput-filename"></span>
							</div>
							<span class="input-group-addon btn btn-default btn-file">
								<span class="fileinput-new">Select file</span>
								<span class="fileinput-exists">Change</span>
								<input type="file" name="...">
							</span>
							<a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Wiring Photo</label>
				<div class="col-sm-6">
					<div class="fileinput fileinput-new" data-provides="fileinput">
						<div class="input-group">
							<div class="form-control uneditable-input" data-trigger="fileinput">
								<i class="fa fa-file fileinput-exists"></i>&nbsp;<span class="fileinput-filename"></span>
							</div>
							<span class="input-group-addon btn btn-default btn-file">
								<span class="fileinput-new">Select file</span>
								<span class="fileinput-exists">Change</span>
								<input type="file" name="...">
							</span>
							<a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Lobby Photo</label>
				<div class="col-sm-6">
					<div class="fileinput fileinput-new" data-provides="fileinput">
						<div class="input-group">
							<div class="form-control uneditable-input" data-trigger="fileinput">
								<i class="fa fa-file fileinput-exists"></i>&nbsp;<span class="fileinput-filename"></span>
							</div>
							<span class="input-group-addon btn btn-default btn-file">
								<span class="fileinput-new">Select file</span>
								<span class="fileinput-exists">Change</span>
								<input type="file" name="...">
							</span>
							<a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
						</div>
					</div>
				</div>
			</div>
	</fieldset>
	<input type="submit" ng-click="submitAddLift()" class="finish btn-success btn" value="Submit" />
</form>
	</panel> 	
	</div>
</div>
</div>