<div class="rlms-wrapper">
<div class="rlms-container amc-management" ng-controller="configurLiftController">
	<h1 class="rlms-heading">Configure Lift</h1>
	<!-- <div class="filter-section">
		<div class="form-group margin-b10">
			<label class="control-label" ng-show="showCompany">Select Company : </label>
			<div class="select-container" ng-show="showCompany">
				  <ui-select ng-model="selectedCompany.selected" title="Choose a Company" on-select="loadBranchData();">
				    <ui-select-match placeholder="Select company">{{$select.selected.companyName}}</ui-select-match>
				    <ui-select-choices repeat="companyIterator in companies| filter: $select.search">
				      <span ng-bind-html="companyIterator.companyName | highlight: $select.search"></span>
				    </ui-select-choices>
				  </ui-select>
			</div>
			<label class="control-label" ng-show="showBranch">Select Branch</label>
			<div class="select-container" ng-show="showBranch">
				  <ui-select ng-model="selectedBranch.selected" title="Choose a Branch" on-select="loadCustomerData()">
				    <ui-select-match placeholder="Select Branch">{{$select.selected.rlmsBranchMaster.branchName}}</ui-select-match>
				    <ui-select-choices repeat="branchIterator in branches| filter: $select.search">
				      <span ng-bind-html="branchIterator.rlmsBranchMaster.branchName | highlight: $select.search"></span>
				    </ui-select-choices>
				  </ui-select>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 align-right">
				<button class="btn-sky btn" ng-click="loadReportList()">Proceed</button>
				<button class="btn-sky btn margin-left-10" ng-click="resetReportList()">Reset</button>
			</div>	
		</div>
	</div> -->
	<div class="container-fluid configure-lift" >

		<div id="exTab2" class="container">	
		<ul class="nav nav-tabs">
			<li class="active">
        	<a id="tab1" href="#1" data-toggle="tab">Configure A</a>
			</li>
			<li><a id="tab2" href="#2" data-toggle="tab">Configure B D</a>
			</li>
			<li><a id="tab3" href="#3" data-toggle="tab">Configure P</a>
			</li>
			<li><a id="tab4" href="#4" data-toggle="tab">Configure R T C</a>
			</li>
		</ul>

			<div class="tab-content ">
			  <div class="tab-pane active" id="1">
				<fieldset class="width-70">
				  <legend>configure A</legend>
				  
					<div class="form-group"><label class="col-sm-4 control-label">A0 Home Landing Floor Number : </label>
						<div class="col-sm-6">
							<input name="homeLandingFloorNumber" ng-disabled="a.disableHomelanding" type="number" min="0" max="98" required ng-model="a.homeLandingFloorNumber" class="form-control" title="Home landing or parking floor number">
						</div>
					</div>
					<div class="form-group"><label class="col-sm-4 control-label">Disable Home landing : </label>
						<div class="col-sm-6">
							<input name="firstName" type="checkbox"  required ng-model="a.disableHomelanding" class="form-control">
						</div>
					</div>
					<div class="form-group"><label class="col-sm-4 control-label">A1 Home Landing Time : </label>
						<div class="col-sm-6">
							<input name="homeLandingTime" type="text" placeholder="Required Field" required ng-model="a.homeLandingTime" class="form-control"  title="Number of idle minutes for lift to start for home landing floor">
						</div>
					</div>
					<div class="form-group"><label class="col-sm-4 control-label">A2 Fire Mode Floor Selection</label>
						<div class="col-sm-6">
							<input name="homeLandingTime" type="text" class="form-control" title="A2 Fire Mode Floor Selection">
						</div>
					</div>
					<div class="form-group"><label class="col-sm-4 control-label">A3 Output contactor off delay time at lift stopping</label>
						<div class="col-sm-6">
							<input name="homeLandingTime" type="text" class="form-control">
						</div>
					</div>
					<div class="form-group"><label class="col-sm-4 control-label">A4 Reed 1 and Reed 2 Timeout</label>
						<div class="col-sm-6">
							<input name="homeLandingTime" type="text" class="form-control">
						</div>
					</div>
					<div class="form-group"><label class="col-sm-4 control-label">A5 Lift Run Timeout</label>
						<div class="col-sm-6">
							<input name="homeLandingTime" type="text" class="form-control">
						</div>
					</div>
					<div class="form-group"><label class="col-sm-4 control-label">A6 MODE Flag 2</label>
						<div class="col-sm-6 bits">
							 	<span>
									<input  type="checkbox" ng-model="a.flag2.bit0" name="a8flag3" class="form-control">
									<label>Bit 0</label>

								</span>
								<span>
									<input  type="checkbox" ng-model="a.flag2.bit1" name="a8flag3" class="form-control">
									<label>Bit 1</label>
								</span>
								<span>
									<input  type="checkbox" ng-model="a.flag2.bit2" name="a8flag3" class="form-control">
									<label>Bit 2</label>
								</span>
								<span>
									<input  type="checkbox" ng-model="a.flag2.bit3" name="a8flag3" class="form-control">
									<label>Bit 3</label>
								</span>
								<span>
									<input  type="checkbox" ng-model="a.flag2.bit4" name="a8flag3" class="form-control">
									<label>Bit 4</label>
								</span>
								<span>
									<input  type="checkbox" ng-model="a.flag2.bit5" name="a8flag3" class="form-control">
									<label>Bit 5</label>
								</span>
						</div>
					</div>
					<div class="form-group"><label class="col-sm-4 control-label">A7 Door closure expeccted time</label>
						<div class="col-sm-6">
							<input name="homeLandingTime" type="text" class="form-control">
						</div>
					</div>
					<div class="form-group"><label class="col-sm-4 control-label">A8 MODE FLAG 3</label>
						<div class="col-sm-6">
								<span>
									<input  type="checkbox" ng-model="a.flag3.bit0" name="a8flag3" class="form-control">
									<label>Bit 0</label>

								</span>
								<span>
									<input  type="checkbox" ng-model="a.flag3.bit1" name="a8flag3" class="form-control">
									<label>Bit 1</label>
								</span>
								<span>
									<input  type="checkbox" ng-model="a.flag3.bit2" name="a8flag3" class="form-control">
									<label>Bit 2</label>
								</span>
								<span>
									<input  type="checkbox" ng-model="a.flag3.bit3" name="a8flag3" class="form-control">
									<label>Bit 3</label>
								</span>
								<span>
									<input  type="checkbox" ng-model="a.flag3.bit4" name="a8flag3" class="form-control">
									<label>Bit 4</label>
								</span>
								<span>
									<input  type="checkbox" ng-model="a.flag3.bit5" name="a8flag3" class="form-control">
									<label>Bit 5</label>
								</span>
						</div>
					</div>
					<div class="form-group"><label class="col-sm-4 control-label">A9 MODE FLAG 4</label>
						<div class="col-sm-6">
							  	<span>
									<input  type="checkbox" ng-model="a.flag4.bit0" name="a8flag3" class="form-control">
									<label>Bit 0</label>

								</span>
								<span>
									<input  type="checkbox" ng-model="a.flag4.bit1" name="a8flag3" class="form-control">
									<label>Bit 1</label>
								</span>
								<span>
									<input  type="checkbox" ng-model="a.flag4.bit2" name="a8flag3" class="form-control">
									<label>Bit 2</label>
								</span>
								<span>
									<input  type="checkbox" ng-model="a.flag4.bit3" name="a8flag3" class="form-control">
									<label>Bit 3</label>
								</span>
								<span>
									<input  type="checkbox" ng-model="a.flag4.bit4" name="a8flag3" class="form-control">
									<label>Bit 4</label>
								</span>
								<span>
									<input  type="checkbox" ng-model="a.flag4.bit5" name="a8flag3" class="form-control">
									<label>Bit 5</label>
								</span>
						</div>
						
					</div>
					<div class="panel-footer">
				<div class="row">
					<div class="col-sm-6">
					</div>
					<div class="col-sm-6 ">
						<div class="btn-toolbar">
							<button ng-click="changeTab(2)" class="btn-primary btn">Next</button>
						</div>
					</div>
				</div>
		</div>			
				 </fieldset>				
		 </div>
		<div class="tab-pane" id="2">
          <fieldset class="width-70">
				  <legend>Configure B D</legend>
				  
				  <div class="form-group"><label class="col-sm-4 control-label">B0 Floor Enabled/Disabled</label>
  	<div class="col-sm-6">
			<select>
				<option>Complete Disabled</option>
				<option>Landing calls disabled for Master</option>
				<option>Landing calls disabled for Slave</option>
				<option>Enabled</option>
			</select>
	</div>
</div>
<div class="form-group"><label class="col-sm-4 control-label">B1 Floor Enabled/Disabled</label>
  	<div class="col-sm-6">
			<select>
				<option>Complete Disabled</option>
				<option>Landing calls disabled for Master</option>
				<option>Landing calls disabled for Slave</option>
				<option>Enabled</option>
			</select>
	</div>
</div>
<div class="form-group"><label class="col-sm-4 control-label">B2 Floor Enabled/Disabled</label>
  	<div class="col-sm-6">
			<select>
				<option>Complete Disabled</option>
				<option>Landing calls disabled for Master</option>
				<option>Landing calls disabled for Slave</option>
				<option>Enabled</option>
			</select>
	</div>
</div>
<div class="form-group"><label class="col-sm-4 control-label">B3 Floor Enabled/Disabled</label>
  	<div class="col-sm-6">
			<select>
				<option>Complete Disabled</option>
				<option>Landing calls disabled for Master</option>
				<option>Landing calls disabled for Slave</option>
				<option>Enabled</option>
			</select>
	</div>
</div>
<div class="form-group"><label class="col-sm-4 control-label">B4 Floor Enabled/Disabled</label>
  	<div class="col-sm-6">
			<select>
				<option>Complete Disabled</option>
				<option>Landing calls disabled for Master</option>
				<option>Landing calls disabled for Slave</option>
				<option>Enabled</option>
			</select>
	</div>
</div>
<div class="form-group"><label class="col-sm-4 control-label">B5 Floor Enabled/Disabled</label>
  	<div class="col-sm-6">
			<select>
				<option>Complete Disabled</option>
				<option>Landing calls disabled for Master</option>
				<option>Landing calls disabled for Slave</option>
				<option>Enabled</option>
			</select>
	</div>
</div>
<div class="form-group"><label class="col-sm-4 control-label">B6 Floor Enabled/Disabled</label>
  	<div class="col-sm-6">
			<select>
				<option>Complete Disabled</option>
				<option>Landing calls disabled for Master</option>
				<option>Landing calls disabled for Slave</option>
				<option>Enabled</option>
			</select>
	</div>
</div>
<div class="form-group"><label class="col-sm-4 control-label">B7 Floor Enabled/Disabled</label>
  	<div class="col-sm-6">
			<select>
				<option>Complete Disabled</option>
				<option>Landing calls disabled for Master</option>
				<option>Landing calls disabled for Slave</option>
				<option>Enabled</option>
			</select>
	</div>
</div>
<div class="form-group"><label class="col-sm-4 control-label">B8 Floor Enabled/Disabled</label>
  	<div class="col-sm-6">
			<select>
				<option>Complete Disabled</option>
				<option>Landing calls disabled for Master</option>
				<option>Landing calls disabled for Slave</option>
				<option>Enabled</option>
			</select>
	</div>
</div>
<div class="form-group"><label class="col-sm-4 control-label">B9 Floor Enabled/Disabled</label>
  	<div class="col-sm-6">
			<select>
				<option>Complete Disabled</option>
				<option>Landing calls disabled for Master</option>
				<option>Landing calls disabled for Slave</option>
				<option>Enabled</option>
			</select>
	</div>
</div>
<hr class="separator">

				  <div class="form-group"><label class="col-sm-4 control-label">D0 Designating the Floors</label>
  	<div class="col-sm-6">
			<select>
				<option>Complete Disabled</option>
				<option>Landing calls disabled for Master</option>
				<option>Landing calls disabled for Slave</option>
				<option>Enabled</option>
			</select>
	</div>
</div>
<div class="form-group"><label class="col-sm-4 control-label">D1 Designating the Floors</label>
  	<div class="col-sm-6">
			<select>
				<option>Complete Disabled</option>
				<option>Landing calls disabled for Master</option>
				<option>Landing calls disabled for Slave</option>
				<option>Enabled</option>
			</select>
	</div>
</div>
<div class="form-group"><label class="col-sm-4 control-label">D2 Designating the Floors</label>
  	<div class="col-sm-6">
			<select>
				<option>Complete Disabled</option>
				<option>Landing calls disabled for Master</option>
				<option>Landing calls disabled for Slave</option>
				<option>Enabled</option>
			</select>
	</div>
</div>
<div class="form-group"><label class="col-sm-4 control-label">D3 Designating the Floors</label>
  	<div class="col-sm-6">
			<select>
				<option>Complete Disabled</option>
				<option>Landing calls disabled for Master</option>
				<option>Landing calls disabled for Slave</option>
				<option>Enabled</option>
			</select>
	</div>
</div>
<div class="form-group"><label class="col-sm-4 control-label">D4 Designating the Floors</label>
  	<div class="col-sm-6">
			<select>
				<option>Complete Disabled</option>
				<option>Landing calls disabled for Master</option>
				<option>Landing calls disabled for Slave</option>
				<option>Enabled</option>
			</select>
	</div>
</div>
<div class="form-group"><label class="col-sm-4 control-label">D5 Designating the Floors</label>
  	<div class="col-sm-6">
			<select>
				<option>Complete Disabled</option>
				<option>Landing calls disabled for Master</option>
				<option>Landing calls disabled for Slave</option>
				<option>Enabled</option>
			</select>
	</div>
</div>
<div class="form-group"><label class="col-sm-4 control-label">D6 Designating the Floors</label>
  	<div class="col-sm-6">
			<select>
				<option>Complete Disabled</option>
				<option>Landing calls disabled for Master</option>
				<option>Landing calls disabled for Slave</option>
				<option>Enabled</option>
			</select>
	</div>
</div>
<div class="form-group"><label class="col-sm-4 control-label">D7 Designating the Floors</label>
  	<div class="col-sm-6">
			<select>
				<option>Complete Disabled</option>
				<option>Landing calls disabled for Master</option>
				<option>Landing calls disabled for Slave</option>
				<option>Enabled</option>
			</select>
	</div>
</div>
<div class="form-group"><label class="col-sm-4 control-label">D8 Designating the Floors</label>
  	<div class="col-sm-6">
			<select>
				<option>Complete Disabled</option>
				<option>Landing calls disabled for Master</option>
				<option>Landing calls disabled for Slave</option>
				<option>Enabled</option>
			</select>
	</div>
</div>
<div class="form-group"><label class="col-sm-4 control-label">D9 Designating the Floors</label>
  	<div class="col-sm-6">
			<select>
				<option>Complete Disabled</option>
				<option>Landing calls disabled for Master</option>
				<option>Landing calls disabled for Slave</option>
				<option>Enabled</option>
			</select>
	</div>
</div>
				  <!-- <div class="form-group"><label class="col-sm-4 control-label">D 0</label>
				  <div class="col-sm-6">
								<div>
									<input  type="radio" name="floorED" class="form-control">
									<label>Complete Disabled</label>

								</div>
								<div>
									<input  type="radio" name="floorED" class="form-control">
									<label>Landing calls disabled for Master</label>

								</div>
								<div>
									<input  type="radio" name="floorED" class="form-control">
									<label>Landing calls disabled for Slave</label>

								</div>
								<div>
									<input  type="radio" name="floorED" class="form-control">
									<label>Enabled</label>
								</div>
						</div>
				  </div> -->
				  <div class="panel-footer">
				<div class="row">
					<div class="col-sm-6">
						<span ng-click="changeTab(1)" class=" button button-clear fa fa-chevron-circle-left go-back"></span>
					</div>
					<div class="col-sm-6 ">
						<div class="btn-toolbar">
							<button ng-click="changeTab(3)" class="btn-primary btn">Next</button>
						</div>
					</div>
				</div>
		</div>			
		  </fieldset>
		</div>	
        <div class="tab-pane" id="3">
           <fieldset class="width-70">
				  <legend>Configure P</legend>
				  <div class="form-group"><label class="col-sm-4 control-label">P0 No Of Stops</label>
						<div class="col-sm-6">
							<input  type="text" class="form-control">
						</div>
					</div>
					<div class="form-group"><label class="col-sm-4 control-label">P1 Door Mode</label>
						<div class="col-sm-6">
							<div>
								<input  type="radio" name="doormode" class="form-control">
								<label>Manual Door Mode.</label>
							</div>
							<div>
								<input  type="radio" name="doormode" class="form-control">
								<label>Auto Door, Level sensor ABSENT</label>
							</div>
							<div>
								<input  type="radio" name="doormode" class="form-control">
								<label>Auto Door, Level sensor PRESENT.</label>
							</div>
						</div>
					</div>
					<!-- //if p1 == 0 -->
					<div class="form-group"><label class="col-sm-4 control-label">P2 RC ON Time</label>
						<div class="col-sm-6">
							<input  type="text" class="form-control">
						</div>
					</div>
					<div class="form-group"><label class="col-sm-4 control-label">P3 RC OFF Time</label>
						<div class="col-sm-6">
							<input  type="text" class="form-control">
						</div>
					</div>
					<div class="form-group"><label class="col-sm-4 control-label">P4 No of RC Cyles</label>
						<div class="col-sm-6">
							<input  type="text" class="form-control">
						</div>
					</div>
					<!-- //if p1 == 1 -->
					<div class="form-group"><label class="col-sm-4 control-label">P2 Door Open time at Floor reached</label>
						<div class="col-sm-6">
							<input  type="text" class="form-control">
						</div>
					</div>
					<div class="form-group"><label class="col-sm-4 control-label">P3 Door Open time Same Floor  LOP Call</label>
						<div class="col-sm-6">
							<input  type="text" class="form-control">
						</div>
					</div>
					<div class="form-group"><label class="col-sm-4 control-label">P4 Door Cycles</label>
						<div class="col-sm-6">
							<input  type="text" class="form-control">
						</div>
					</div>
					<div class="form-group"><label class="col-sm-4 control-label">P5 Stoppage Time</label>
						<div class="col-sm-6">
							<input  type="text" class="form-control">
						</div>
					</div>
					<div class="form-group"><label class="col-sm-4 control-label">P6 Mode Flag</label>
						<div class="col-sm-6">
							<label>Bit 0</label>
							<input  type="checkbox" />
							<label>Bit 1</label>
							<input  type="checkbox" />
							<label>Bit 2</label>
							<input  type="checkbox" />
							<label>Bit 3</label>
							<input  type="checkbox" />
							<label>Bit 4</label>
							<input  type="checkbox" />
							<label>Bit 5</label>
							<input  type="checkbox" />
						</div>
					</div>
					<div class="form-group"><label class="col-sm-4 control-label">P7 Lift Type</label>
						<div class="col-sm-6">
							<select>
							  	<option>Simplex</option>
							  	<option>Duplex Master</option>
							  	<option>Duplex Slave</option>
							  </select>
						</div>
					</div>
					<div class="form-group"><label class="col-sm-4 control-label">P8 Fan On Time</label>
						<div class="col-sm-6">
							<input  type="text" class="form-control">
						</div>
					</div>
					<div class="form-group"><label class="col-sm-4 control-label">P9 Tube On Time</label>
						<div class="col-sm-6">
							<input  type="text" class="form-control">
						</div>
					</div>
					<div class="panel-footer">
				<div class="row">
					<div class="col-sm-6">
						<span ng-click="changeTab(2)" class=" button button-clear fa fa-chevron-circle-left go-back"></span>
					</div>
					<div class="col-sm-6 ">
						<div class="btn-toolbar">
							<button ng-click="changeTab(4)" class="btn-primary btn">Next</button>
						</div>
					</div>
				</div>
		</div>			
			</fieldset>
		</div>
		<div class="tab-pane" id="4">
				<fieldset class="width-70">
				  <legend>configure R T C</legend>
				  <div class="form-group"><label class="col-sm-4 control-label">Date</label>
						<div class="col-sm-6">
							<input type="text" class="form-control datepicker" datepicker-popup="{{format}}" ng-click="open($event,'Date')" is-open="openFlag.Date" ng-model="a.Date"/>
						</div>
					</div>
			<div class="form-group">
				<label class="col-sm-4 control-label">Time</label>
				<div class="col-sm-6">
					<timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" class="timepicker"></timepicker>
					<div>
				<label class="col-sm-3 control-label">Controls</label>
				<div class="col-sm-6">
					  <button class="btn btn-info" ng-click="toggleMode()">12H / 24H</button>
					  <button class="btn btn-danger" ng-click="clear()">Clear</button>
				</div>
			</div>
				</div>
			</div>
			
				  <div class="form-group"><label class="col-sm-4 control-label">R0 RTC Date(DD)</label>
						<div class="col-sm-6">
							<input  type="text" class="form-control">
						</div>
					</div>
					<div class="form-group"><label class="col-sm-4 control-label">R1 RTC Month(MM)</label>
						<div class="col-sm-6">
							<input  type="text" class="form-control">
						</div>
					</div>
					<div class="form-group"><label class="col-sm-4 control-label">R2 RTC Year (YY)</label>
						<div class="col-sm-6">
							<input  type="text" class="form-control">
						</div>
					</div>
					<div class="form-group"><label class="col-sm-4 control-label">R3 RTC Hours (HH)</label>
						<div class="col-sm-6">
							<input  type="text" class="form-control">
						</div>
					</div>
					<div class="form-group"><label class="col-sm-4 control-label">R4 RTC Minutes (MM))</label>
						<div class="col-sm-6">
							<input  type="text" class="form-control">
						</div>
					</div>
					<div class="form-group"><label class="col-sm-4 control-label">R5 RTC Seconds (SS)</label>
						<div class="col-sm-6">
							<input  type="text" class="form-control">
						</div>
					</div>
					<hr>
					<div class="form-group"><label class="col-sm-4 control-label">T0 DATE</label>
						<div class="col-sm-6">
							<input  type="text" class="form-control">
						</div>
					</div>
					<div class="form-group"><label class="col-sm-4 control-label">T1 Month</label>
						<div class="col-sm-6">
							<input  type="text" class="form-control">
						</div>
					</div>
					<div class="form-group"><label class="col-sm-4 control-label">T2 YEAR</label>
						<div class="col-sm-6">
							<input  type="text" class="form-control">
						</div>
					</div>
					<div class="form-group"><label class="col-sm-4 control-label">T3 Count</label>
						<div class="col-sm-6">
							<input  type="text" class="form-control">
						</div>
					</div>
					<div class="form-group"><label class="col-sm-4 control-label">T4 Consumer No MSD 2 digit</label>
						<div class="col-sm-6">
							<input  type="text" class="form-control">
						</div>
					</div>
					<div class="form-group"><label class="col-sm-4 control-label">T5 Consumer No LSD 2 Digit</label>
						<div class="col-sm-6">
							<input  type="text" class="form-control">
						</div>
					</div>
					<hr>
					<div class="form-group"><label class="col-sm-4 control-label">C0 ARD off Delay</label>
						<div class="col-sm-6">
							<input  type="text" class="form-control">
						</div>
					</div>
					<div class="form-group"><label class="col-sm-4 control-label">C1 ARD On Delay</label>
						<div class="col-sm-6">
							<input  type="text" class="form-control">
						</div>
					</div>
					<div class="form-group"><label class="col-sm-4 control-label">C2 ARD Over off Delay</label>
						<div class="col-sm-6">
							<input  type="text" class="form-control">
						</div>
					</div>
					<div class="form-group"><label class="col-sm-4 control-label">C3 ARD Direction Reversal delay</label>
						<div class="col-sm-6">
							<input  type="text" class="form-control">
						</div>
					</div>
							<div class="panel-footer">
				<div class="row">
					<div class="col-sm-6">
						<span ng-click="changeTab(3)" class=" button button-clear fa fa-chevron-circle-left go-back"></span>
					</div>
					<div class="col-sm-6 ">
						<div class="btn-toolbar">
							<button class="btn-primary btn">Submit</button>
							<button class="btn-default btn">Reset</button>
						</div>
					</div>
				</div>
		</div>	
						
				 </fieldset>
				 
		</div>
		</div>
  </div>
	</div>
</div>
</div>