<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Home</a></li>
        <li class="active">Dashboard</li>
    </ol>

    <h1>Dashboard</h1>
    <!-- <div class="options">
        <div class="btn-toolbar">
            <div class="btn-group" dropdown>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <a href="#" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-cog"></i></a>
        </div>
    </div> -->
</div>
<div class="row">
<ul class="nav navbar-nav pull-right toolbar">
  <li class="dropdown hidden-xs" dropdown ng-controller="DashboardController" ng-show="isLoggedIn">
		<a href class="dropdown-toggle" dropdown-toggle>
		 <i class="glyphicon glyphicon-envelope"></i>
		 <span>Alerts</span>
		 <span class="badge badge-danger" ng-if="unseenCount>0" ng-bind="unseenCount"></span>
		</a>
		<ul class="dropdown-menu animated messages arrow">
		  <li class="dd-header">
			<span>Messages ({{unseenCount}})</span>
			<span><a href="#"><i class="glyphicon glyphicon-cog"></i></a></span>
		  </li>
			  <div class="scrollthis" scrollable>
				<li ng-repeat="item in messages">
				  <a href="#/" ng-class="{active: !item.read}">
					<button tooltip-placement="top" tooltip-append-to-body="true" tooltip="Mark read" class="btn-mark-read" ng-if="!item.read" ng-click="setRead(item, $event)"><i class="glyphicon glyphicon-unchecked"></i></button>
					<button tooltip-placement="top" tooltip-append-to-body="true" tooltip="Mark unread" class="btn-mark-unread" ng-if="item.read" ng-click="setUnread(item, $event)"><i class="glyphicon glyphicon-check"></i></button>
					<span class="time">{{item.time}}</span>
					<img ng-src="{{item.thumb}}" alt="avatar" />
					<div>
					  <span class="name">{{item.name}}</span>
					  <span class="msg">{{item.message}}</span>
					</div>
				  </a>
				</li>
			  </div>
		  <li class="dd-footer"><a href="#" ng-click="setReadAll($event)">Mark all read</a></li>
		</ul>
	  </li>
	  <li class="dropdown" dropdown ng-controller="DashboardController" ng-show="isLoggedIn">
		<a href dropdown-toggle class="dropdown-toggle">
		  <i class="glyphicon glyphicon-globe"></i>
		  <span>Notifications</span>
		  <span class="badge badge-indigo" ng-if="unseenCountForNotifications>0" ng-bind="unseenCountForNotifications"></span>
		</a>
		<ul class="dropdown-menu animated notifications arrow">
		  <li class="dd-header">
			<span>Notifications ({{unseenCountForNotifications}})</span>
			<span><a href="#"><i class="glyphicon glyphicon-cog"></i></a></span>
		  </li>
				<div class="scrollthis" scrollable>
			<li ng-repeat="item in notifications">
			  <a href="#" class="{{item.class}}" ng-class="{active: !item.seen}">
				<button tooltip-placement="top" tooltip-append-to-body="true" tooltip="Mark seen" class="btn-mark-read" ng-if="!item.seen" ng-click="setSeen(item, $event)"><i class="glyphicon glyphicon-unchecked"></i></button>
				<button tooltip-placement="top" tooltip-append-to-body="true" tooltip="Mark unseen" class="btn-mark-unread" ng-if="item.seen" ng-click="setUnseen(item, $event)"><i class="glyphicon glyphicon-check"></i></button>
				<span class="time">{{item.time}}</span>
				<i class="{{item.iconClasses}}"></i>
				<span class="msg">{{item.text}}</span>
			  </a>
			</li>
				</div>
		  <li class="dd-footer"><a href="javascript:;" ng-click="setSeenAll($event)">Mark all seen</a></li>
		</ul> 
	  </li>
</ul>
</div>



<div class="container-fluid" ng-controller="DashboardController">
<script type="text/ng-template" id="demoModalContent.html">
<div ng-controller="DashboardController">
    <div class="modal-header">
        <h3 class="modal-title"><span ng-bind="modalHeaderVal">Modal</span></h3>
    </div>
    <div class="modal-body">
    	<div class="container-fluid">
	<h5 class="rlms-info"><span class="fa fa-info-circle"></span>Following is the list of new complaints</h5>
		<div class="row">
	      <div class="col-md-12">		
               <div class="input-icon right mb10">
                   <i class="fa fa-search"></i>
                   <input type="text" ng-model="filterOptions.filterText" class="form-control" placeholder="Search Filter">
               </div>
               <div class ="data-table" style="min-height:300px;max-height:500px" ng-grid="gridOptionsForComplaints"></div>
	        </div>
	    </div>
	</div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div>
</script>
 
    <div class="row">
        <div class="col-md-3 animated-content">
            <div class="row">
                <div class="col-xs-6">
                    <tile-simple data="{ title: 'New Complaints',text: '9', color: 'danger'}" ng-click="openDemoModal('lg','New Complaints','2')"></tile-simple>
                </div>
                <div class="col-xs-6">
                    <tile-simple data="{ title: 'Pending Complaints', text: '41', color: 'indigo'}" ng-click="openDemoModal('lg','Pending Complaints','2')"></tile-simple>
                </div>
            </div>
        </div>
        <div class="col-md-3 animated-content">
            <div class="row">
                <div class="col-xs-6">
                    <tile-simple data="{ title: 'Assigned Complaints', text: '9', color: 'danger'}" ng-click="openDemoModal('lg','Pending Complaints','2')"></tile-simple>
                </div>
                <div class="col-xs-6">
                    <tile-simple data="{ title: 'Complaints Attempted Today', text: '41', color: 'indigo'}" ng-click="openDemoModal('lg','Pending Complaints','2')"></tile-simple>
                </div>
            </div>
        </div>
        <div class="col-md-3 animated-content">
            <div class="row">
                <div class="col-xs-6">
                    <tile-simple data="{ title: 'Resolved Complaints', text: '9', color: 'danger'}" ng-click="openDemoModal('lg','Pending Complaints','2')"></tile-simple>
                </div>
                <div class="col-xs-6">
                    <tile-simple data="{ title: 'Total Complaints', text: '41', color: 'indigo'}" ng-click="openDemoModal('lg','Pending Complaints','2')"></tile-simple>
                </div>
            </div>
        </div>
        <div class="col-md-3 animated-content">
            <div class="row">
                <div class="col-xs-6">
                    <tile-simple data="{ title: 'New Customer Registration', text: '9', color: 'danger'}" ng-click="openDemoModal('lg','Pending Complaints','2')"></tile-simple>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid">
	<h5 class="rlms-info"><span class="fa fa-info-circle"></span>Following is the list of AMC</h5>
		<div class="row">
	      <div class="col-md-12">		
               <div class="input-icon right mb10">
                   <i class="fa fa-search"></i>
                   <input type="text" ng-model="filterOptions.filterText" class="form-control" placeholder="Search Filter">
               </div>
               <div class ="data-table" style="min-height:300px;max-height:500px" ng-grid="gridOptions"></div>
	        </div>
	    </div>
	</div>
</div> <!-- container-fluid -->
