/*Layout*/
.rlms-wrapper{
	background-color:#fff;
	padding:10px;
	width:100%;
	box-sizing:border-box;
}
.rlms-container{
}
.rlms-heading{
	color: #fff;
    text-shadow: 1px 0px 1px #0FACF3;
    background-image: url(../img/photo3@2x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15px 10px;
    margin: 10px 0;
    margin-top: 0;
    margin-right: 3px;
    font-weight: 500;
}
/*color scheme*/
body.navbar-primary.rlms-app #topnav {
    background: #0FACF3;
    
}
body.sidebar-default.rlms-app #wrapper .static-sidebar .active>a {
    background: #0FACF3;
}
body.sidebar-default #wrapper.rlms-ap .static-sidebar-wrapper {
    background: #D6EDFF;
}
body.sidebar-default #wrapper.rlms-ap .static-sidebar #sidebar ul li.active:hover>a {
    color: #262d33;
    background: #fff;
}
body.sidebar-default #wrapper.rlms-ap .static-sidebar #sidebar ul li.active>a {
    color: #262d33;
    background: #fff;
}
.rlms-app footer{
    background-color: #0FACF3;
}
/*Override default*/
.rlms-app .company-management .container-fluid{
    border-radius: 3px;
}
.add_company #wrap>.container-fluid {
	padding-bottom: 0px;
}
.rlms-app .rlms-btn.btn{
	background-color: #0FACF3;
}
.add_company .form-horizontal .form-group, 
.add_banch .form-horizontal .form-group,
.add_user .form-horizontal .form-group{
	border: none;
	margin: 0;
	padding-top: 10px;
    padding-bottom: 10px;
}
.container-fluid.branch-list {
	padding: 0;
	margin: 0 10px;
}
.branch-list .col-md-12 {
	margin: 0 -10px;
}
.add_banch .panel .panel-heading+.panel {
	padding-top: 0px;
}

.data-table {
	border: 1px solid silver;
}

.disabled {
	pointer-events: none;
	opacity: 0.7;
}
.panel-body{
	padding-top:0px;
}
.alert {

}
.align-right{
	text-align:right;
}
